{{define "message" -}}
template with attachment
{{.Query | escapequotes}}
{{.GrafanaUrl}}
{{.LokiDataSource}}
{{.EntryTimestamp}}
{{- range $key, $value := .Labels }}
{{ $key }} = {{ $value }}
{{- end }}
{{- end}}

{{define "json_attachment" -}}
{{- range $key, $value := .Line -}}
{{ $key }}: {{ $value }}
{{end -}}
{{- end}}

{{define "txt_attachment" -}}
{{.Line}}
{{- end}}
